# Hypothesis testing

In [1]:
import pandas as pd
import scipy.stats as st

In [2]:
data = pd.read_csv('clean_data.csv')
data.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,ac,rain,sun,temp_diff,trip_consume,trip_cost
0,28.0,5.0,26,21.5,12,E10,0,0,0,9.5,1.4000,1.932000
1,12.0,4.2,30,21.5,13,E10,0,0,0,8.5,0.5040,0.695520
2,11.2,5.5,38,21.5,15,E10,0,0,0,6.5,0.6160,0.850080
3,12.9,3.9,36,21.5,14,E10,0,0,0,7.5,0.5031,0.694278
4,18.5,4.5,46,21.5,15,E10,0,0,0,6.5,0.8325,1.148850

## 1st hypothesis

H0: the consumption for both fuels is the same\
H1: the consumption for each fuel is different\
Two-sided test

In [3]:
stat,pval=st.ttest_ind(data[data['gas_type'] == 'E10']['trip_consume'],data[data['gas_type'] == 'SP98']['trip_consume'],alternative = "two-sided")
print('The p-value is: ',pval)
print('The statistic is: ',stat)

The p-value is:  0.27679289437741406
The statistic is:  1.089091767035112

The p-value is greater than 0.01, 0.05, and 0.1, so we fail to reject the null hypothesis for those significant levels. We don't have enough evidence to say that the consumption for each fuel is different

## 2nd hypothesis

H0: the cost for both fuels is the same per trip\
H1: the cost for each fuel is different\
Two-sided test

In [4]:
stat,pval=st.ttest_ind(data[data['gas_type'] == 'E10']['trip_cost'],data[data['gas_type'] == 'SP98']['trip_cost'],alternative = "two-sided")
print('The p-value is: ',pval)
print('The statistic is: ',stat)

The p-value is:  0.536481279060945
The statistic is:  0.6186964484920059

The p-value is greater than 0.01, 0.05, and 0.1, so we fail to reject the null hypothesis for those significant levels. We don't have enough evidence to say that the cost for each fuel is different